#particle
  background: black
  width: calc(100vw)
  height: calc(100vh)
  overflow: hidden

#logo
  width: 400px
  height: 400px
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
