extends /base/_page

block append css
  link(href='/src/css/logo.css', rel='stylesheet')
  link(href='/src/css/icon.css', rel='stylesheet')

block append js-lib
  script(src='/src/lib/js/particles.js')

block append js
  script(src='/src/js/logo.js')

block screen
  #particle
  #logo
    include /logo/logo
